.navbar {
  border-radius: 1px !important;
  margin-bottom: 1px !important;
  text-align:center;
   padding-right: 150px;
   min-height: 8px;

  }
.navbar-default .navbar-brand, .navbar-brand:hover {
  color: black;
  text-align:center;
  font-size: 20px;
  }

.nav.navbar-nav {
  color: white;
  font-size: 20px;
  text-align:center;
  }

.col-sm-12 {
  padding-top: 10px;
  padding-bottom: 0px;
  }

#map {
  z-index: 1;
  height: 500px;
  background-color: #eee;
  }

div.olControlMousePosition {
      font-size: medium;
      color: #FFFFFF;
      padding: 0 0.5em 0.5em 0.5em;
  }
div.olControlScaleLine {
      font-size: small;
      color: #FFFFFF;
  }
div.olControlLayerSwitcher
    {
        padding: 10px 10px 10px 18px
        position: absolute;
        top: 25px;
        right: 0;
        width: 20em;
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 3px;
        margin-left: 3px;
        margin-bottom: 3px;
        font-size: smaller;
        color: black;
        opacity:0.7;
        background-color: transparent;
        z-index: 10000;

    }
div.olControlLayerSwitcher .layersDiv
    {
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-right: 10px;
        background-color: #CCCCCC !important;
    }

  #descKML {
    height: 30px;
    width: 100%;
    z-index: 1;
    font-size:14px;
    padding-left: 10%;
  }

  #HeaderEstado{
    width:140px;
    height:20px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 1px #96B0BB;
  }

  #listEstado {
    border-radius:2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: rgba(247,247,247,0.7);
    border: 1px solid #ffffff;
    box-shadow: 0 0 3px #C5C5C5;
    text-align: center;
    font-size:12px;
    -moz-box-shadow: 0 0 3px #C5C5C5;
    -webkit-box-shadow: 0 0 3px #C5C5C5;
    height:100%;
    width:100%;


          }
  #listNA {
    border-radius:2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: rgba(247,247,247,0.7);
    border: 1px solid #ffffff;
    box-shadow: 0 0 3px #C5C5C5;
    text-align: center;
    font-size:12px;
    -moz-box-shadow: 0 0 3px #C5C5C5;
    -webkit-box-shadow: 0 0 3px #C5C5C5;
    height:100%;
    width:100%;

          }

  #tabla
  {
      text-align:center;
      vertical-align:middle;
  }

  #Titulo{
    text-align: center;
    font-size:25px;
    color: white;
    background-color: #333;
    text-shadow: 0px 0px 1px #96B0BB;
  }